@charset "utf-8";
/* CSS Document */
body,ul,li{
    margin: 0px;
    padding: 0px;
}
body{
    height: 1700px;
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.topbar{
    background-color: black;
    height: 40px;

}
.con{
    
    margin: 0 auto;
    width: 1226px;
}
.con::before,.con::after,
.clearfix::before,.clearfix::after{
    content: "";
    display: table;
}
.con::after,.clearfix::after{
    clear: both;
}
.topbar a {
    color:#b0b0b0;
    font-size: 12px;
}
.topbar a:hover {
    color: #fff;

}
.topbar-zuo span{
font-size: 12px;
color: #424242;
font-family: sans-serif;
margin: 0.5em;
}
.topbar-zuo{
    float: left;
    height:40px;
    line-height: 40px;
    font-size: 0;
}
.topbar-zhong,.topbar-you{
    float: right;
}
.topbar-you a{
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 120px;
    background: #424242;
}
.topbar-you span{
    margin-left: -4px;
    font-size: 12px;
}
.topbar-you i{
    font-size: 20px;
    line-height: 20px;
    margin-right: 4px;
    vertical-align: -4px;
}
.topbar-you a:hover{
    background-color:#fff;
    color: #ff6700;
}
.topbar-zhong a{
    float: left;
    padding: 0 5px;
    line-height: 40px;
    height: 40px;
}
.topbar-zhong span{
    float: left;
    font-family: sans-serif;
    font-size: 12px;
    color: #424242;
    line-height: 40px;
    height: 40px;
}
.header{
    height: 100px;
}
.header-log{
    float: left;
    
    margin-top: 22px;
    
}
.header-log a{
    display: block;
    width: 55px;
    height: 55px;
    background: #ff6700 url(../img/mi-logo.png) no-repeat 50% 50%;
}
.header-log .lr{
    text-align: left;
    text-indent: -9999em;
}
.header-nav{
    float: left;
    width:820px;
 height: 100px;
  
}
.header-nav .nav-list{
    width: 820px;
    height: 88px;
    font-size: 16px;
    
    padding: 12px 0 0 30px;
}
.header-nav .nav-list .nav-cate{
    float: left;
    width: 127px;
    padding: 0 15px 0 0;
}
.header-nav .nav-list .nav-cate a{
    display: block;
    padding: 26px 0 38px;
    text-align: right;
    color: #333;
}
.header-nav .nav-list .nav-item{
    float: left;
}
.header-nav .nav-list .nav-item a{
    display: block;
    padding: 26px 10px 38px;
    color: #333;
}
.header-nav .nav-list .nav-item a:hover{
    color: #ff6700;
}
.header-search{
    float: left;
    width:296px;
    height: 50px;
    margin-top: 25px;
   
}
.header-search .search-from{
    position: relative;
    display: block;
    width: 296px;
    height: 50px;

}
.header-search .search-from .search-text{
    position: absolute;
    top: 0;
    right: 51px;
    display: block;
    width: 245px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #e0e0e0;
    outline: 0;
}
.header-search .search-from .search-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
    line-height: 24px;
    font-size: 24px;
    background: #fff;
    color: #616161;
    outline: 0;
}
.header-search .search-from .search-btn:hover{
    background-color: #ff6700;
    color: #fff;
}

.seckill{
    background-color: #f5f5f5;
}
.seckill-head{
    margin-top: 19px;
    height: 170px;
    background: url(../img/seckill-head.jpg);
}
.seckill-nav{
    margin: -68px 0 22px;
}
.seckill-navfixed{
    position: fixed;
    top: 0px;
    margin: 0 auto;
    width: 1226px;

}

.seckill-nav ul{
    height: 68px;
    background: #414141;
}
.seckill-nav li{
    display: block;
    float: left;
    width: 20%;
    height: 68px;
    line-height: 68px;
    text-align: center;
    cursor: pointer;
}
.seckill-nav .active{
    background-color: #f1393a;
}
.seckill-nav li em{
    display: inline-block;
    margin-left: 30px;
    font-size: 18px;
    font-style: normal;
    line-height: 68px;
    vertical-align: middle;
}
.seckill-nav li span{
display: inline-block;
margin-left: 15px;
text-align: left;
line-height: 68px;
vertical-align: middle;
font-size: 14px;
}
.seckill-nav ul li span em{
    display: inline-block;
    font-size: 14px;
    margin-left: 0;
    font-style: normal;
    text-align: left;
    line-height: 20px;
}
.seckill-good .active{
    display:block;
}
.seckill-good ul{
    display: none;
    margin-right: -13px;
   /* border: 1px solid black;*/
}
.seckill-good li{
    float: left;
    width: 400px;
    height: 190px;
    background-color: #fff;
   /* border: 1px solid black;*/
    margin-right: 13px;
    margin-bottom: 13px;
}
.seckill-notice{
    font-size: 12px;
    color: #999;
    margin-top: 100px;
    padding-bottom: 35px;
}
.seckill-good .bg{
    float: left;
    width: 190px;
    height: 190px;
    /*border: 1px solid red;*/
}
.seckill-good .info{
    margin-left: 210px;
    width: 190px;
    height: 190px;
  /*  border: 1px solid black;*/
    padding-top: 30px;
}
.seckill-good .info .name{
    font-size: 16px;
    color: #333;
    height: 16px;
    line-height: 16px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.seckill-good .info .tips{
    font-size: 12px;
    line-height: 12px;

    color: #b0b0b0;
    margin-top: 10px;
    
}
.seckill-good .info .price{
    font-size: 16px;
    line-height: 16px;
    color: #f1393a;
    margin-top: 14px;
    margin-bottom: 0;
}
.seckill-good .info .price del{
    font-size: 12px;
    color: #999;
    line-height: 12px;
    margin-left: 10px;

}
.seckill-good .info .btn{
    display: inline-block;
    width: 118px;
    height: 28px;
    font-size: 14px;
    color: #fff;
    line-height: 28px;
    text-align: center;
    background-color: #f1393a;
    border: 1px solid #f1393a;
    margin-top: 19px;


}
.seckill-good .info .person{
    font-size: 12px;
    line-height: 12p;
    color: #999;
    margin-top: 10px;

}
.seckill-good .bg img{
    height: 190px;
}